@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center; background-color:blue;font-size:45px;">
    <h2>Hello!</h2>
    </div>
    <div>
        <pre>
        Hello, We just need to confirm your email address for registration.Click<a href="@ViewBag.ConfirmationLink">Here</a>
</pre>
    </div>
</body>
</html>
